/*Vars*/
Montserrat = 'Montserrat', sans-serif
Raleway = 'Raleway', sans-serif
LightText = #EEE
DarkText = #222
/*Color Palet*/
MainColor = #D32F2F
DarkColor = #C62828
DarkestColor = #B71C1C
BreakColor = #FFC400
DarkBreakColor = #FFAB00
/*Other Colors*/
Facebook = #3B5999

h1
	text-align left

p 
	text-align left
	line-height 180%


.lam-sai-wing-stand-1
	background-image url("../img/lam-sai-wing-stand-1.png")
	background-size 300px
	background-repeat no-repeat
	width 300px
	height 250px
	display inline-block
	
.lam-sai-wing-stand-2
	background-image url("../img/lam-sai-wing-stand-2.png")
	background-size 200px
	background-repeat no-repeat
	width 250px
	height 350px
	display inline-block
	
@media (min-width: 845px)
	p 
		text-align justify
		max-width 70em
		display inline-block
		&:nth-child(6)
			width 100%
	