/*Vars*/
Montserrat = 'Montserrat', sans-serif
Raleway = 'Raleway', sans-serif
LightText = #EEE
DarkText = #222
/*Color Palet*/
MainColor = #D32F2F
DarkColor = #C62828
DarkestColor = #B71C1C
BreakColor = #FFC400
DarkBreakColor = #FFAB00
/*Other Colors*/
Facebook = #3B5999

/*Mixins*/
flexbox()
   display -webkit-box
   display -moz-box
   display -ms-flexbox
   display -webkit-flex
   display flex
   
 /*Mobile*/	
h1 
	text-align left

p 
	text-align left
	font-size 18px
	line-height 2em

.card 
	background-image url("../img/dragon-dark.png")

.bold
	font-weight bold

.contacto__la-plata, .contacto__capital
	text-align center
	padding 0 0 0.5em 0
	.contacto__title
		background-color #EEE
		img
			width 40px
			border-radius 100%
			display inline-block
			vertical-align middle
		h2
			display inline-block
			vertical-align middle
			margin-left .5em
			color DarkText
	h2 ,h3
		text-align left

.contacto__clase
	background-color #222
	border-radius 40px
	color LightText
	max-width 500px
	margin .5em auto
	padding-bottom .5em
	h3
		color BreakColor
	.contacto__clase__img
		display inline-block
		width 40%
		img
			width 130px
			border-radius 100%
			vertical-align middle
	.contacto__clase__right
		display inline-block
		text-align left
		vertical-align middle
		width 50%
		h3
			font-size 18px
		h4
			margin 0
			font-size 16px
		p 
			margin .2em
			font-size 16px
		.contacto__clase__right__horarios
			margin-bottom 1em
		.contacto__clase__right__direccion
			.contacto__clase__right__direccion__texto
				display inline-block
			.contacto__clase__right__direccion__imagen
				display inline-block
				cursor pointer
				img 
					width 30px
					
			
#hung-gar-main
	background-image url('../img/backgrounds/fondo-hung-gar-mobile.jpg')
	
	
#map-canvas, #map-canvas2 
	height 300px
	marign 0 .2em 0 .2em

#wu-hsing-chuan-main
	background-image url('../img/backgrounds/fondo-wu-hsing-chuan-mobile.jpg')
	
// DESKTOP
@media (min-width: 845px) 		
	.contacto
		display -webkit-box
		display -moz-box
		display -ms-flexbox
		display -webkit-flex
		display flex
		justify-content space-around
		
	.contacto__la-plata, .contacto__capital
		flex-grow 1
		position relative
		.contacto__clase__img
			img
				width 160px
		.contacto__clase__right
			h3
				font-size 22px
			h4
				font-size 18px
			p 
				font-size 18px
			.contacto__clase__right__direccion
				.contacto__clase__right__direccion__imagen
					img 
						width 50px
		
	.main-text
		p 
			text-align justify
			line-height 180%
			max-width 70em
			font-size 20px
					
	#hung-gar-main
		background-image url('../img/backgrounds/fondo-hung-gar-web.jpg')
		
	#wu-hsing-chuan-main
		background-image url('../img/backgrounds/fondo-wu-hsing-chuan-web.jpg')
