/*Vars*/
Montserrat = 'Montserrat', sans-serif
Raleway = 'Raleway', sans-serif
LightText = #EEE
DarkText = #222
/*Color Palet*/
MainColor = #D32F2F
DarkColor = #C62828
DarkestColor = #B71C1C
BreakColor = #FFC400
DarkBreakColor = #FFAB00
/*Other Colors*/
Facebook = #3B5999

/*Mixins*/
flexbox()
   display -webkit-box
   display -moz-box
   display -ms-flexbox
   display -webkit-flex
   display flex
   
 /*Mobile*/
 	
h1 
	text-align left

p 
	text-align left

.bold
	font-weight bold
	

.clock__capital
	display inline-block
	height 100px
	width 100px
	background-image url("../img/reloj-capital.png")
	background-size 100px
	background-repeat no-repeat

.clock__la-plata
	display inline-block
	height 100px
	width 100px
	background-image url("../img/reloj-la-plata.png")
	background-size 100px
	background-repeat no-repeat

.contacto__la-plata, .contacto__capital
	text-align center
	margin-bottom 1em
	h2 ,h3
		text-align left
		
.pull-down
		h3
			font-weight normal
		
#map-canvas, #map-canvas2 
	height 300px
	marign 0 .2em 0 .2em
	


@media (min-width: 845px) 
		
	.clock__capital, .clock__la-plata
		width 150px
		height 150px
		background-size 150px
		background-repeat no-repeat
		
	.contacto
		display -webkit-box
		display -moz-box
		display -ms-flexbox
		display -webkit-flex
		display flex
		justify-content space-around
		
	.contacto__la-plata, .contacto__capital
		flex-grow 1
		position relative
		height 850px
		width 50%
		
	.main-text
		p 
			text-align justify
			line-height 180%
			max-width 70em
	
	.pull-down
		position absolute
		bottom 0
		width 99%
		h3
			text-align center
			font-weight normal
