/*Vars*/
Montserrat = 'Montserrat', sans-serif
Raleway = 'Raleway', sans-serif
LightText = #EEE
DarkText = #222
/*Color Palet*/
MainColor = #D32F2F
DarkColor = #C62828
DarkestColor = #B71C1C
BreakColor = #FFC400
DarkBreakColor = #FFAB00
/*Other Colors*/
Facebook = #3B5999

h1
	text-align left

.button
	background-color BreakColor
	box-shadow rgba(0,0,0,0.2) 2px 2px 10px
	cursor pointer
	display inline-block
	padding 15px 50px
	transition all .2s ease-out
	&:hover
		box-shadow rgba(0,0,0,0.5) 3px 3px 10px

.card
	margin-bottom 1em
	padding .5em
	h2
		text-align left
		margin-top 0
	p 
		text-align left
		
.hernan-dell-oso__img
	background-image url("../img/hernan-dell-oso.jpg")
	background-repeat no-repeat
	background-size 100px
	height 100px
	width 100px

.hide
	p
		display none

.lam-cho__img
	background-image url("../img/lam-cho.jpg")
	background-repeat no-repeat
	background-size 100px
	height 100px
	width 100px

.lam-sai-wing__img
	background-image url("../img/lam-sai-wing.jpg")
	background-repeat no-repeat
	background-size 100px
	height 100px
	width 100px

.master-photo
	border-radius 100%
	display inline-block
	height 100px
	width 100px

.wong-fei-hung__img
	background-image url("../img/wong-fei-hung.jpg")
	background-repeat no-repeat
	background-size 100px
	height 100px
	width 100px
	
.wong-hong-keung__img
	background-image url("../img/wong-hong-keung.jpg")
	background-repeat no-repeat
	background-size 100px
	height 100px
	width 100px
	
.bshow
	&::before
		content "Leer Más"

.bhide
	&::before
		content "Leer Menos"
		
@media (min-width: 865px)
	.card
		h2
			text-align left
			margin .5em	0 0 .3em
			
	.hide
		p
			display block !important
			
	.lam-cho
		.leftside
			margin 35% 1em 0 1em
		
	.lam-cho__img, .lam-sai-wing__img, .wong-fei-hung__img, .wong-hong-keung__img, .hernan-dell-oso__img
		background-size 150px
		
	.leftside
		display inline-block
		margin 25% 1em 0 1em
		
	.master-photo
		height 150px
		width 150px
		

	.rightside
		display inline-block
		vertical-align top
		p
			max-width 35em
			text-align justify
			line-height 150%
	
	.wong-hong-keung
		.leftside
			margin 10% 1em 0 1em
			
	.button
		display none
		
@media (min-width: 1165px)
	.centralcontainer
		width 70em
		
	.lam-cho, .wong-hong-keung
		.leftside
			margin 2em 1em
	
	.leftside
		margin 2em 1em
			
	.rightside
		p
			max-width 55em
			
	