AddDefaultCharset UTF-8

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^inicio?$ index.php

RewriteRule ^no-soportado?$ legacy.html

RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 403 http://www.hunggarargentina.com.ar/errors/403

ErrorDocument 404 http://www.hunggarargentina.com.ar/errors/404