AddDefaultCharset UTF-8

RewriteEngine on

### START WWW & HTTPS

# ensure www.

#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ensure https

#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

### END WWW & HTTPS

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^inicio?$ index.php

RewriteRule ^no-soportado?$ legacy.html

RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 403 http://www.hunggarargentina.com.ar/errors/403

ErrorDocument 404 http://www.hunggarargentina.com.ar/errors/404