<footer role="contentinfo" id="mainfooter">
	<div class="max-w">
		<figure id="mainfooter__figures">
			<img src="../img/lam-family-logo.png" alt="Lam Family Hung Gar" id="mainfooter__figures__figure1"  oncontextmenu='return false' ondragstart='return false' onmousedown='return false'>
			<img src="../img/world-hung-gar-association-logo.png" alt="World Hung Gar Association" id="mainfooter__figures__figure2"  oncontextmenu='return false' ondragstart='return false' onmousedown='return false'>
		</figure>
		<div id="mainfooter__text">
			<h3 class="mainfooter__text__h3">Sifu Hernán Dell' Oso</h3>
			<h3 class="mainfooter__text__h3">Hung Kuen Wong Hon Keung Argentina</h3>
		</div>
	</div>
</footer>