<header role="banner" id="mainheader">
	<figure id="mainheader__lamlogo">
		<img src="../img/lam-family-logo.png" alt="Lam Family"  oncontextmenu='return false' ondragstart='return false' onmousedown='return false'>
	</figure>
	<div id="mainheader__hgroup">
		<h2 class="mainheader__hgroup__h1">Hung Gar</h2>
		<h2 class="mainheader__hgroup__h2">Argentina</h2>
	</div>
	<figure id="mainheader__wuhsinglogo">
		<img src="../img/wu-hsing-chuan-logo.png" alt="Wu Hsing Chuan"  oncontextmenu='return false' ondragstart='return false' onmousedown='return false'>
	</figure>
</header>