<!-- Main Navigation -->
<nav role="navigation" id="mainnav">
	<ul class="mainnav__list">
		<li class="mainnav__list__item">
		<a href="inicio">Inicio</a></li><li class="mainnav__list__item">
		<a href="hung-gar">Hung Gar</a></li><li class="mainnav__list__item">
		<a href="linaje">Linaje</a></li><li class="mainnav__list__item">
		<!-- <a href="#">Galería</a></li><li class="mainnav__list__item"> -->
		<a href="articulos">Artículos</a></li><li class="mainnav__list__item">
		<a href="contactanos">Contactanos</a></li><li role="button" class="facebook">
		<a href="#" class="icon-facebook"></a></li>
	</ul>
	<!-- <div role="button" class="facebook"><a href="#" class="icon-facebook"></a></div> -->
</nav>
<!-- Mobile Navigation Bar -->
<div id="mobilenavbar">
	<div id="menubutton" role="button"><a href="#" class="icon-menu"></a></div>
	<h3 id="mobilenavbar__title"><?php echo $pagetitle ?></h3>
	<div role="button" class="facebook"><a href="#" class="icon-facebook"></a></div>
</div>
<!-- mobile Navigation -->
<nav role="navigation" id="mobilenav">
	<ul class="mobilenav__list">
		<li class="mobilenav__list__item">
		<a href="inicio">Inicio</a></li><li class="mobilenav__list__item">
		<a href="hung-gar">Hung Gar</a></li><li class="mobilenav__list__item">
		<a href="linaje">Linaje</a></li><li class="mobilenav__list__item">
		<!-- <a href="#">Galería</a></li><li class="mobilenav__list__item"> -->
		<a href="articulos">Artículos</a></li><li class="mobilenav__list__item">
		<a href="contactanos">Contactanos</a></li>
	</ul>
</nav>